<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Bootstrap demo</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
      <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </head>
  <body>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-12">
                    <b style="float: right;">Invoice: {{orders.invoice}}</b>
                    <br>
                    Status: {{orders.status}}
                    <br>
                    Customer Name: {{customer.name|capitalize}}
                    <br>
                    Customer Email: {{customer.email|capitalize}}
                    <br>
                    Customer Contact: {{customer.contact}}
                    <br>
                    <br>
                    <table class="table table-sm">
                        <caption>{{customer.name|capitalize}}'s Shopping Cart</caption>
                        <thead>
                            <th>Sr</th>
                            <th>Name</th>
                            <th>Color</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Discount</th>
                            <th>Subtotal</th>
                        </thead>
                        <tbody>
                            {% for key, product in orders.orders.items() %}
                            {% set discount = "%0.2f" |format((product.discount/100) *  product.price|float) %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <!-- product name-->
                                <td>{{ product.name }}</td>
                                <form action="{{url_for('update_cart',id=key)}}" method="POST">
                                    <!-- product color-->
                                    <td>
                                        {{product.color|capitalize}}
                                    </td>
                                    <!-- product price-->
                                    <td>${{ product.price }}</td>
                                    <!-- product quantity-->
                                    <td class="text-center">{{product.quantity}}</td>
                                    <!-- product discount-->
                                    {% if product.discount > 0 %}
                                        <td>{{ product.discount }}% &nbsp; is ${{discount}}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    {% set sub_total = product.quantity|int * product.price|float%}
                                    <!-- product sub_total-->
                                    <td>${{'%.2f'|format((sub_total|float) - discount|float)}}</td>
                                </form>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td style="text-align: right; border-right-style: hidden;" colspan="3"><h5>Tax: ${{tax}}</h5></td>
                                <td style="text-align: right;" colspan="4"><h5>Grand Total: ${{grand_total}}</h5></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
  </body>
</html>


