<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap5/css/bootstrap.min.css') }}">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <!-- Bootstrap JS -->
    <script defer src="{{ url_for('static', filename='bootstrap5/js/bootstrap.min.js') }}"></script>
  
    {% if title %}
      <title>{{ title }} - Top Colors App</title>
    {% else %}
      <title>Top Colors App</title>
    {% endif %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Top Colors App</a>
        </div>
    </nav>

    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
