<!--#1. This line of code tells the templating engine (Jinja) to use "base.html" as the template for this page.-->
{% extends "bootstrap/base.html" %}
<!--#2. This block inserts a custom title into the header of the template.-->
{% block title %}Login{% endblock %}
<!--#3. This block provides the content of the website. The part that is going to vary between webpages.-->
{% block content %}
        <div class="container">
			<h1>LOGIN</h1>
			<form method='POST' action="{{ url_for('login') }}">
				{{ form.csrf_token }}
				<p>
					{{ form.email.label }} <br> {{ form.email(size=30) }}
					{% for err in form.email.errors %}
					<span style="color:red">{{ err }}</span>
					{% endfor %}
				</p>
				<p>
					{{ form.password.label }} <br> {{ form.password(size=30) }}
					{% for err in form.password.errors %}
					<span style="color:red">{{ err }}</span>
					{% endfor %}
				</p>
				{{ form.submit }}
			</form>
		</div>
{% endblock %}