<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css" />
    <link href="../static/bootstrap/css/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script defer src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script defer src="../static/script.js"></script>
    <title>Rui Portfolio Project</title>
  </head>
  <body>
    
    <i class="bi bi-list menu-mobile"></i>
  
    <aside id='header'>
      <section class="profile">
        <img src="../static/img/perfil.png" alt="rui_photo">
        <h1>Rui Pinto</h1>
        <div class="social-links mt-4 text-center">
          <a target="_blank" href="https://www.linkedin.com/in/ruifspinto/">
            <i class="bi bi-linkedin"></i>
          </a>
          <a target="_blank" href="https://github.com/RuiFSP">
            <i class="bi bi-github"></i>
          </a>
          <a target="_blank" href="https://twitter.com/RuiFSPinto">
            <i class="bi bi-twitter"></i>
          </a>
          <a target="_blank" href="https://www.youtube.com/channel/UCdF1EEyTNkxfIWrSAs4aC1g">
            <i class="bi bi-youtube"></i>
          </a>
        </div>
      </section>
      <nav id="navbar" class="nav-menu">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home"><i class="bi bi-house"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about"><i class="bi bi-person"></i> About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills"><i class="bi bi-list-check"></i> Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#curriculum"><i class="bi bi-file-earmark"></i> Curriculum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio"><i class="bi bi-collection"></i> Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact"><i class="bi bi-envelope"></i> Contact</a>
          </li>
        </ul>
      </nav>
    </aside>
  
    <main id="main">
      
      <section id="home" class="row m-0 p-0">
        <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
          <h2 class="text-white text-shadow">Rui Pinto</h2>
          <span id="subtitle" class="text-white text-shadow">Junior Developer and Nice Guy 😀</span>
        </div>
        
        <div class="col-md-7 d-flex justify-content-end align-items-end flex-column">
          <div id="scroll_down" class="d-flex align-items-center">
            <i class="bi bi-arrow-down text-white pe-2 fs-2" ></i>
            <a href="#about">Scroll Down</a>
          </div>
        </div>
      </section>
      
      <section class="container mt-5" id="about">
      
        <div class="row w-100">
          <div class="col-md-12" data-anime="down">
            <h2 class="pt-3">About</h2>
            <p>
              Life is full of unexpected twists and turns, and sometimes we are forced to reinvent ourselves in
              order to thrive in new circumstances. This was the case for me after the onset of Covid-19, which
              me to pivot from my career in lean six sigma methodology and explore one of my true passions: programming.
              
              Despite being a novice in this field, I was determined to succeed and enrolled in a coding bootcamp
              to learn the skills necessary to excel in this exciting and dynamic industry. Since then, I have
              never looked back and have become increasingly passionate about programming, eager to absorb as much
              knowledge and expertise as possible.
              
              This experience has taught me that it is never too late to learn and pursue your passions. Life is
              full of opportunities to reinvent yourself and explore new passions, and we should seize these
              opportunities with enthusiasm and determination. With a commitment to continuous learning and growth,
              there are no limits to what we can achieve.
            </p>
          </div>
        </div>
        
        <div class="row mt-4">
          <div class="col-md-4">
            <img class="img-fluid shadow" src="../static/img/perfil2.jpg" alt="rui foto2" data-anime="left">
          </div>
          <div class="col-md-8" data-anime="right">
            <h3>Junior Software Developer</h3>
            <p> As a professional currently employed with BNP Paribas CIB in the GBA team
              (Global Booking and Allocation), I am responsible for implementing and managing the deployment
              of a Java-based application. This application is critical to the operations of our team and helps
              us efficiently manage bookings and allocations.
            </p>
              <div class="row mt-3 mb-3">
                <div class="col-md-6">
                  <ul class="list-group list-group-flush fs-5">
                    <li class="list-group-item">
                      Birthday: <span class="fw-lighter">23 de March de 1980</span>
                    </li>
                    <li class="list-group-item">
                      Age: <span class="fw-lighter">43 years</span>
                    </li>
                    <li class="list-group-item">
                      Country: <span class="fw-lighter">Portugal</span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="list-group list-group-flush fs-5">
                    <li class="list-group-item">
                      City: <span class="fw-lighter">Lisbon</span>
                    </li>
                    <li class="list-group-item">
                      Work: <a href="https://www.hexa-group.pt/"
                               target="_blank"
                               class="fw-lighter text-decoration-none link-dark">Hexa Consulting</a>
                    </li>
                    <li class="list-group-item">
                      Experience: <span class="fw-lighter">+1 years</span>
                    </li>
                  </ul>
                </div>
              </div>
            <p>
                My diverse set of interests and hobbies includes marathon running, cooking, data science,
              building prediction models, gaming, and traveling. As a runner, I push myself to my limits and
              enjoy the mental and physical challenges that come with long-distance races. Cooking is another
              passion that allows me to explore new flavors and techniques, while data science challenges me to
              analyze patterns and create predictive models. Gaming provides a fun escape and a chance to engage in
              strategic thinking and socializing with others, while traveling broadens my horizons and provides a
              unique opportunity for exploration and self-discovery
            </p>
            
          </div>
        </div>
      
      </section>
      
      <section class="mt-5 pb-5 section-bg" id="skills">
        
        <div class="container pd-5">
          <h2 class="pt-5">Skills</h2>
          <p>Over the course of the year, I have developed various soft and hard skills, which I have
            listed below according to my level of proficiency. These skills include</p>
          
          <div class="row">
            <div class="col-md-6">
              
              <p class="mt-3 mb-0">HTML & CSS & JavaScript</p>
              <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="68"
                   aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 68%">68%</div>
              </div>
              <p class="mt-3 mb-0">JAVA</p>
              <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="75"
                   aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 75%">75%</div>
              </div>
              <p class="mt-3 mb-0">Python</p>
              <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="81"
                   aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 81%">81%</div>
              </div>
              <p class="mt-3 mb-0">SQL</p>
              <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="75"
                   aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 75%">75%</div>
              </div>
              <p class="mt-3 mb-0">Data Science</p>
              <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="85"
                   aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 85%">85%</div>
              </div>
              <p class="mt-3 mb-0">CI/CD</p>
              <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="63"
                   aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 63%">63%</div>
              </div>
            </div>
            <div class="col-md-6">
              <p class="mt-3 mb-0">Backend Development</p>
                <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="62"
                     aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 62%">62%</div>
                </div>
                <p class="mt-3 mb-0">Selenium WebDriver</p>
                <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="47"
                     aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 47%">47%</div>
                </div>
                <p class="mt-3 mb-0">Spring Framework</p>
                <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="61"
                     aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 61%">61%</div>
                </div>
                <p class="mt-3 mb-0">Pandas & Matplotlib</p>
                <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="75"
                     aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 75%">75%</div>
                </div>
                <p class="mt-3 mb-0">NumPy & Scikit-learn</p>
                <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="65"
                     aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 65%">65%</div>
                </div>
                <p class="mt-3 mb-0">Lean Six Sigma</p>
                <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="95"
                     aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 95%">95%</div>
                </div>
            </div>
          </div>
  
          <hr class="w-50 me-auto ms-auto">
          
          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">Communication</p>
              <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="85"
                   aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 85%">85%</div>
              </div>
              <p class="mt-3 mb-0">Problem-solving</p>
              <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="95"
                   aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 95%">95%</div>
              </div>
              <p class="mt-3 mb-0">Attention to detail</p>
              <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="85"
                   aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 85%">85%</div>
              </div>
            </div>
            <div class="col-md-6">
              <p class="mt-3 mb-0">Time Management</p>
              <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="75"
                   aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 75%">75%</div>
              </div>
              <p class="mt-3 mb-0">Adaptability</p>
              <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="95"
                   aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 95%">95%</div>
              </div>
              <p class="mt-3 mb-0">Teamwork</p>
              <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label" aria-valuenow="90"
                   aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 90%">90%</div>
              </div>
            </div>
          </div>
          
          
        </div>
      </section>
      
      <section class="mt-5 cv" id="curriculum">
        
        <div class="container pb-5">
          <h2 class="pt-3 pb-4">Curriculum</h2>
            
            <div class="row">
             <div class="col-md-6">
              <h3 class="cv-title">Education</h3>
               
               <div class="cv-item" data-anime="up">
                 <h4>Full Stack Programming Bootcamp</h4>
                 <h5>01/2022 - 04/2022</h5>
                 <p><em>Academia de Código</em></p>
                 <p>A 14-Week Intensive && Immersive Full Stack Java Programming Bootcamp</p>
               </div>
               <div class="cv-item" data-anime="up">
                 <h4>Lean Six Sigma Black Belt</h4>
                 <h5>01/2014 - 07/2014</h5>
                 <p><em>IST: School of Engineering and Technology</em></p>
                 <p>The Lean Six Sigma Black Belt is a professional who is well versed in the Lean Six Sigma
                   Methodology, who leads improvement projects</p>
               </div>
               <div class="cv-item" data-anime="up">
                 <h4>MBA - Master in Business Administration</h4>
                 <h5>09/2011 - 09/2013</h5>
                 <p><em>ISEG: School of Economics & Management</em></p>
                 <p>Comprehend the theories and practices of business, accounting, management, marketing, and
                   economics</p>
               </div>
               <div class="cv-item" data-anime="up">
                 <h4>MSc - Mechanical Engineering</h4>
                 <h5>09/2005 - 09/2007</h5>
                 <p><em>IST: School of Engineering and Technology</em></p>
                 <p>Application of theoretical, practical and experimental knowledge, constrained by economical,
                   social, ethical and environmental issues, to the design, manufacture, control and management
                   of products, processes, equipments, energy and technological systems</p>
               </div>
               
             </div>
             
              <div class="col-md-6">
                <h3 class="cv-title">Work Experience</h3>

                <div class="cv-item" data-anime="up">
                 <h4>Junior Java Developer at BNP Paribas CIB</h4>
                 <h5>08/2022 - Present</h5>
                 <p><em>Hexa Consulting</em></p>
                 <p>Designed and managed the deployment of a Java-based application, Implemented sonarQube integration
                   with Jenkins, Migrated legacy tests to the new framework</p>
                </div>
                <div class="cv-item" data-anime="up">
                 <h4>Founder</h4>
                 <h5>08/2013 - 01/2021</h5>
                 <p><em>Sigma4Profit</em></p>
                 <p>Developed and implemented Lean Six Sigma methodologies to identify value stream improvement
                   opportunities, Utilized Lean Six Sigma tools to reduce process cycle times and improve
                   process flow</p>
                </div>
                <div class="cv-item" data-anime="up">
                 <h4>Operations Manager</h4>
                 <h5>06/2014 - 02/2015</h5>
                 <p><em>SEABRA - Global Engineering Solutions</em></p>
                 <p>Improve the operational systems, processes and policies in support of organizations mission --
                   specifically, support better management reporting, information flow and management, business
                   process and organizational planning</p>
                </div>
                <div class="cv-item" data-anime="up">
                 <h4>QA/QC Manager</h4>
                 <h5>04/2008 - 08/2011</h5>
                 <p><em>SIMI - Sociedade Internacional de Montagens Industriais</em></p>
                 <p>Develop and implement training and certification program for production associates in hand
                   GMAW/TIG welding techniques and procedures. Develop and implement work instructions for part
                   fit-up, tack, weld, and repair requirements Develop and implement parameters for weld length,
                   leg length, throat length, penetration, and structural quality for welds</p>
                </div>
                
              </div>
              
            </div>
          
        </div>
        
      </section>
  
      <section class="mt-5 pb-5 section-bg" id="portfolio">
        <div class="container pb-5 pt-5" data-anime="left">
          <h2 class="pb-4">Portfolio</h2>

          <div id="carouselPortfolio" class="carousel slide" data-bs-theme="dark">
            
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>

            <div class="carousel-inner">
              
              <div class="carousel-item active" data-bs-interval="10000">

                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card">
                      <img src="../static/img/flash_card_app.PNG" class="card-img-top" alt="flash card app">
                      <div class="card-body">
                        <h5 class="card-title">Flash Card App</h5>
                        <p class="card-text">Our innovative flash card app is designed to help you learn French
                          using English. With clear and concise explanations and interactive quizzes, our app
                          is the perfect tool for anyone looking to master the French language</p>
                        <div class="d-flex justify-content-center">
                          <a href="https://github.com/RuiFSP/100-days-of-code/tree/master/Projects/Day31"
                             target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="../static/img/quiz_app.PNG" class="card-img-top" alt="quiz app">
                      <div class="card-body">
                        <h5 class="card-title">Quiz App</h5>
                        <p class="card-text">exciting quiz app that is sure to put your knowledge to the test!
                          Using the Open Trivia Database, our app features a wide range of challenging questions
                          covering a diverse array of topics, from history and science to pop culture and sport</p>
                        <div class="d-flex justify-content-center">
                          <a href="https://github.com/RuiFSP/100-days-of-code/tree/master/Projects/Day34"
                             target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="../static/img/cookie_clicker.PNG" class="card-img-top" alt="cookie clicker script">
                      <div class="card-body">
                        <h5 class="card-title">Automate Cookie clicker</h5>
                        <p class="card-text">Who needs baking skills when you have Python and Selenium WebDriver to
                          dominate Cookie Clicker? Now excuse me while I celebrate my sweet victory with real cookies.
                          I'm going to be the best cookie clicker in the world </p>
                        <div class="d-flex justify-content-center">
                          <a href="https://github.com/RuiFSP/100-days-of-code/tree/master/Projects/Day48"
                             target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="carousel-item" data-bs-interval="2000">

                
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card">
                      <img src="../static/img/password_manager.PNG" class="card-img-top" alt="password manager app">
                      <div class="card-body">
                        <h5 class="card-title">Password Manager</h5>
                        <p class="card-text">Who needs to buy password managers, when we can build one ourself ? 🤣
                          It was a cool project to apply knowledge about list comprehension, saving files,
                          new libraries(pyperclip), new GUI configurations - grid(columnspan)</p>
                        <div class="d-flex justify-content-center">
                          <a href="https://github.com/RuiFSP/100-days-of-code/tree/master/Projects/Day30"
                             target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="../static/img/data_science_stats.PNG" class="card-img-top" alt="handwashing problem">
                      <div class="card-body">
                        <h5 class="card-title">Dr Semmelweis Handwashing Discovery</h5>
                        <p class="card-text">Unleash my #DataScience skills! 🤣💻 Learned to craft compelling arguments,
                          visualize distributions, analyze statistical significance, and master Matplotlib and NumPy.
                          📈🔍 All inspired by the tragic Handwashing discovery</p>
                        <div class="d-flex justify-content-center">
                          <a href="https://github.com/RuiFSP/100-days-of-code/tree/master/Projects/Day83"
                             target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="../static/img/blog_project.PNG" class="card-img-top" alt="blog project">
                      <div class="card-body">
                        <h5 class="card-title">Personal Blog Project</h5>
                        <p class="card-text">This project was like a buffet of tech buzzwords: Flask, Jinja,
                          HTML, Forms, CSS, Python, OOP, Bootstrap, SQL and Restfull API. I feel like a programming chef
                          who just whipped up a spicy blog stew! 🍲👨‍🍳🤣 #TechNoms </p>
                        <div class="d-flex justify-content-center">
                          <a href="https://github.com/RuiFSP/100-days-of-code/tree/master/Projects/Day73"
                             target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
              
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          
        </div>
      </section>
      
      <section class="pt-5 pb-5" id="contact">
        
        <div class="container md-5">
          <h2 class="pt-3 pb-3">Contact</h2>
          
          <div class="row">
            
            <div class="col-md-5" >
              <div class="card p-5 shadow border-0" data-anime="up">
                <div class="address">
                  <h4><i class="bi bi-geo-alt"></i>Localization</h4>
                  <p>Lisbon, Portugal</p>
                </div>
                
                <div class="email">
                  <h4><i class="bi bi-envelope"></i>Email: </h4>
                  <p>ruifspinto@gmail.com</p>
                </div>
  
                <iframe title="location" class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12450.544640903245!2d-9.147930010016761!3d38.72616161370631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd19339b76e55aa3%3A0x318eb1db4f7aa40b!2sArroios%2C%20Lisboa!5e0!3m2!1spt-PT!2spt!4v1680111941889!5m2!1spt-PT!2spt"
                        width="400" height="300" style="border:0;"
                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                  
                </iframe>
                
              </div>
            </div>
            
            <div class="col-md-7 mt-5 mt-md-0">
              <div class="card p-5 h-100 shadow border-0" data-anime="left">
                
                <form class="row g-3" action="/send" method="POST">
                  <div class="col-md-6">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" class="form-control" id="name" name="name"
                           placeholder="Write your name" required>
                  </div>
                  <div class="col-md-6">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" name="email"
                           placeholder="Write your email" required>
                  </div>
                  <div class="col-12">
                    <label for="message" class="form-label">Message:</label>
                    <textarea class="form-control" id="message" rows="10"
                              placeholder="Write your message" name="message" required></textarea>
                  </div>
                  <div class="col-12 d-flex justify-content-center mt-4">
                    <button id="btn-send" type="submit" class="btn btn-primary">Send your message</button>
                    
                    <button id="btn-send-loader" class="btn btn-primary" type="button" disabled>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Sending Message...
                    </button>
                    
                  </div>
                </form>
                
              </div>
            </div>
            
          </div>
          
        </div>
        
      </section>
      
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div id="msg-alert" class="alert alert-success alert-dismissible fade show" role="alert">
          <i class="bi bi-check-circle"></i> {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      {% endif %}
      {% endwith %}
      
    </main>
    
    <footer id="footer">
      <div class="container">
        <div class="text-center">
          &copy; Copyright <strong>Rui Pinto</strong>
        </div>
      </div>
      
    </footer>
    
  </body>
</html>
